body{
		background-image: url(fon.png);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
}

.Pole{
	width: 500px;
	height: 250px;
	background: #121617;
	opacity: .8;
	margin:50px auto 10px;
	padding: 20px;
}

.Flex{
	display: flex;
}

.b1{
	width: 175px;
	height: 45px;
	margin: 5px;
}

.Otvet{
	width: 530px;
	height: 100px;
	background: #ffffff;
	opacity: .8;
	margin: 0 auto;
	padding: 10px 0 10px 10px;
}